doctype html
html
	head
	body
		p You have successfully created an account. Please click on the button below to verify your email and complete your registration.
		a(
			href=`${baseUrl}/sign-in?userid=${userId}&token=${token}`
		) Confirm