doctype html
html
	head
	body
		p We've received a password reset request for your profile. Please, confirm the procedure.
		a(
			href=`${baseUrl}/reset?userid=${userId}&token=${token}`
		) Reset